.h{
    height: 10px;
    width: 50%;
}
.he{
    height: 500px;
}
@media screen and (max-width: 580px) {
    .he{
        
        height: 600px ;

    }
    
  }
  @media screen and (max-width: 850px) {
    .he{
        
        height: 600px ;

    }
    
  }
  @media screen and (max-width: 912px) {
    .he{
        
        height: 600px ;

    }
    
  }